<!-- <div id="numberInputPopup" class="fixed w inset-0 z-40 bg bg-opacity-50 flex items-center justify-center hidden">
    <div class="bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-lg font-bold mb-2">Enter a Number</h2>
        <form id="numberForm">
            <input type="number" id="numberInput" class="border p-2 rounded w-full mb-3" required>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Submit</button>
        </form>
    </div>
</div> -->

<div id="container-queryfloating">
    <div class="container-close"
        onclick=hidePopup()>&times;</div>
    <img
        src="./assets/home/image1110.jpg"
        alt="image">
    <div class="container-text">
        <h1 class="text-3xl text-black">Enter Phone Number</h1>
        <p>You are just one click away from <br> your dream living.</p> 
 
        <form class="space-y-4"> 
            <input
                id="phone"
                type="tel"
                maxlength="10"
                name="phone"
                placeholder="Phone number"
                class="w-full border dark:bg-white border-gray-300 rounded-md px-4 py-2 text-sm focus:outline-none focus:border-gray-500"
            /> 
            <button
                onclick=submitQueryForm(event)
                class="w-full bg-warning text-white font-semibold py-2 rounded-md hover:bg-gray-800 transition duration-300"
            >
                GET FREE QUOTE
            </button>
            <p class="text-xs text-gray-500 text-center mt-4">
                By submitting this form, you agree to the privacy policy & terms and conditions.
            </p>
        </form>

    </div>
</div>


<script> 
        function showPopup() {
            document.getElementById("container-queryfloating").style.visibility = "visible"
        }
    
        function hidePopup() {
            document.getElementById("container-queryfloating").style.visibility = "hidden"
        }
    
        // Show the popup every 7 seconds
        setInterval(showPopup, 7000);
    
        // Close the popup when the form is submitted
        document.getElementById("numberForm").addEventListener("submit", function (e) {
            e.preventDefault();
            const numberValue = document.getElementById("numberInput").value;
            console.log("Entered Number:", numberValue);
            hidePopup();
        }); 
  
</script>