/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


#root{

  padding: 0;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
    padding: 0;
    margin: 0;
}

body{
  padding: 0;
  margin: 0;
}


#navbar{
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

#footer{
  width: 100vw;
  align-items: center;
  left: 0;
  right: 0;
}



/* approach section styles */

/* CSS Animations to mimic Framer Motion effects */
@keyframes fadeSlideDown {
  from {
      opacity: 0;
      transform: translateY(-50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeSlideUp {
  from {
      opacity: 0;
      transform: translateY(30px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeScaleUp {
  from {
      opacity: 0;
      transform: scale(0.95);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

.animate-fade-slide-down {
  animation: fadeSlideDown 0.8s ease-out forwards;
}

.animate-fade-slide-up {
  animation: fadeSlideUp 1s ease-out 0.4s forwards;
}

.animate-fade-scale-up {
  animation: fadeScaleUp 0.9s ease-out forwards;
}

.hover:scale-105:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-out;
}






#designExpertiseTitle, #designExpertiseDesc {
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  transform: translateY(20px);
}

#designCardsContainer > .card {
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  transform: scale(0.9);
  opacity: 0;
}









/* styles.css */
#luxuriousBedroomsSection h2, #luxuriousBedroomsSection p {
  transition: opacity 1s ease-out, transform 1s ease-out;
  transform: translateY(20px);
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card img {
  width: 100%;
  height: 64vh;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}

.card img:hover {
  transform: scale(1.1);
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
  color: white;
  padding: 20px;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.card:hover .card-overlay {
  opacity: 1;
}
