<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/output.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <title> ABOUT </title>
</head>
<body class="bg-gray-100">
    <h1 id="ele102" class="text-4xl text-center text-blue-500">THIS IS ABOUT PAGE</h1>
</body>
</html>